*.zip
*.apk
node_modules/
dist/
.vite/
android/app/build/
android/.gradle/
android/build/
android/gradle-bin.zip
android/gradle-extracted/
flutter_version/.dart_tool/
flutter_version/build/
unity_version/Library/
unity_version/Temp/
unity_version/Logs/
unity_version/UserSettings/
.DS_Store


